.faqBlocks {
  padding-top: 100px;
  margin-bottom: 150px;
}

.faqBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #000;
  padding: 13px 24px;
  max-width: 774px;
}

.faqBlock:not(:last-child) {
  margin-bottom: 24px;
}

.faqSpan {
  color: var(--Gray-1, #333);
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 18/18 */
}

.faqButt {
  display: -ms-grid;
  display: grid;
  place-content: center;
  width: 34px;
  height: 34px;
  border-radius: 3.125rem;
  background: var(--light-green, #E9ECE0);
  cursor: pointer;
}

.faqGreen {
  display: none;
  background: var(--light-green, #E9ECE0);
  max-width: 774px;
  padding: 21px 24px 50px 24px;
  color: var(--Gray-1, #333);
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 128.571429%; /* 18/14 */
}

.faqGreen:not(:last-child) {
  margin-bottom: 24px;
}

.faqTitle1 {
  margin-bottom: 40px;
  color: var(--Gray-1, #333);
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 18/18 */
}

.faqTitle2 {
  margin-bottom: 15px;
}

.faqTitle3 {
  margin-bottom: 15px;
}

.faqTitle4 {
  margin-bottom: 15px;
}