.cabinsVideo {
    padding-top: 150px;
}
.cabinsVideo__list {
}
.list__items {
}
.items__item {
}
.items__item iframe {
    max-width: 100%;
}
@media (max-width: 991px) {
    .list__items {
        flex-wrap: wrap;
    }
}