.footer {
  padding-top: 150px;
  background-color: #5B6460;
  padding-bottom: 100px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__title {
  color: #FFF;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 187.5%; /* 30/16 */
}

.footer__title:not(:last-child) {
  margin-bottom: 40px;
}

.footer__form:not(:last-child) {
  margin-bottom: 10px;
}

.footer__input {
  width: 432px;
  background: none;
  border: none;
  border-bottom: 1px solid #EFEFEF;
}

.footer__input:focus {
  outline: none;
  color: #fff;
}

.footer__input::-webkit-input-placeholder {
  color: #FFF;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: 30/16; /* 187.5% */
}

.footer__input::-moz-placeholder {
  color: #FFF;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: 30/16; /* 187.5% */
}

.footer__input:-ms-input-placeholder {
  color: #FFF;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: 30/16; /* 187.5% */
}

.footer__input::-ms-input-placeholder {
  color: #FFF;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: 30/16; /* 187.5% */
}

.footer__input::placeholder {
  color: #FFF;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: 30/16; /* 187.5% */
}

.footer__input::after {
  background-image: url(/img/footer/arrow.svg);
}

.footer__text {
  color: #FFF;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
  line-height: 187.5%; /* 30/16 */
}

.footer__text:not(:last-child) {
  margin-bottom: 70px;
}

.footer__date {
  color: #EFEFEF;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 300;
  line-height: 214.285714%; /* 30/14 */
}

.footer__up:not(:last-child) {
  margin-bottom: 50px;
}

.up__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFF;
  font-family: "Mulish";
  font-size: 14px;
  font-weight: 300;
  line-height: 171.428571%; /* 24/14 */
  gap: 30px;
}

.down__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 40px;
}

@media (max-width: 991px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer__rigth {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
  .down__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__left {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__date {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .up__items {
    display: -ms-grid;
    display: grid;
    text-align: center;
  }
}
@media (max-width: 479px) {
  .footer__input {
    width: 200px;
  }
}