.header {
  position: sticky;
  top: 0;
  z-index: 2;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-shadow: 0px 0px 5px #9c9b9b;
          box-shadow: 0px 0px 5px #9c9b9b;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1240px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18px;
}

.header__menu {
  margin: 0 auto;
}

.list__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 36px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item__link {
  color: #000;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 300;
  line-height: 171.428571%; /* 24/14 */
  padding: 5px;
}

.item__link:hover {
  background-color: #828080;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__burger {
  display: none;
  position: relative;
  width: 30px;
  height: 20px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.burger-line {
  display: none;
  background-color: #000;
  height: 2px;
  width: 100%;
  position: absolute;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.burger-line:nth-child(1) {
  top: 0;
}

.burger-line:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.burger-line:nth-child(3) {
  bottom: 0;
}

.header__burger.cross .burger-line:nth-child(1) {
  -webkit-transform: rotate(-45deg) translate(-12px);
          transform: rotate(-45deg) translate(-12px);
}

.header__burger.cross .burger-line:nth-child(2) {
  opacity: 0;
}

.header__burger.cross .burger-line:nth-child(3) {
  -webkit-transform: rotate(45deg) translate(-12px);
          transform: rotate(45deg) translate(-12px);
}

.header__language {
  cursor: pointer;
}

.header__button {
  width: 100%;
  text-align: center;
  max-width: 200px;
  padding: 16px 5px;
  background: #5B6460;
  color: #FFF;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 300;
  line-height: 200%; /* 28/14 */
  letter-spacing: 1px;
  margin-left: auto;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.header__button:hover {
  color: #fff;
  background-color: #7b7c77;
}

@media (max-width: 991.98px) {
  .header__menu {
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .list__items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .item__link {
    padding: 10px 25px;
  }
}
@media (max-width: 750px) {
  .header__burger {
    display: block;
  }
  .burger-line {
    display: block;
  }
  .header {
    z-index: 11;
  }
  .header__menu {
    display: none;
    position: absolute;
    left: -100%;
    top: 100%;
  }
  .list__items {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    row-gap: 50px;
  }
  .item__link {
    font-size: 30px;
  }
  .header__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .header__button {
    margin: 0px;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .header__language {
    position: absolute;
    display: none;
    bottom: -35px;
    right: 20px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .header__burger {
    margin-left: auto;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}