.header {
    padding-top: 20px;
}
.header__container {
    display: flex;
    max-width: 1240px;
    margin: 0 auto;
    align-items: center;
    gap: 25px;
}
.header__logo {
}
.header__menu {
    margin: 0 auto;
}
.menu__list {
}
.list__items {
    display: flex;
    gap: 36px;
    justify-content: center;
}
.items__item {
}
.item__link {
    color: #000;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 300;
    line-height: 171.428571%; /* 24/14 */
}
.header__language {
}
.header__button {
    padding: 16px 60px;
    background: #5B6460;
    color: #FFF;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 300;
    line-height: 200%; /* 28/14 */
    letter-spacing: 1px;
    margin-left: auto;
}