.map {
    padding-top: 150px;
}
.map__cont {
    display: flex;
    max-width: 1408px;
    margin: 0 auto;
}
.map__map {
    width: 100%;
}
.map__map img {
    max-width: 100%;
}
.map__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E9ECE0;
    width: 100%;
    padding: 15px;
}
.text__block {
}
.map__title {
    color: #5B6460;
    font-family: "Open Sans";
    font-size: 40px;
    font-weight: 400;
    line-height: 100%; /* 40/40 */
}
.map__title:not(:last-child) {
    margin-bottom: 50px;
}
.map__subtitle {
    max-width: 465px;
    color: #333;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 300;
    line-height: 187.5%; /* 30/16 */
}
.map__subtitle:not(:last-child) {
    margin-bottom: 25px;
}
.map__link {
    color: #5B6460;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 187.5%; /* 30/16 */
    transition: all 0.3s ease 0s;
}
.map__link:hover {
    text-decoration: underline;
}
@media (max-width: 991px) {
    .map__cont {
        display: grid;
    }
    .map__map iframe {
        width: 100%;
    }
}