.more__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.more__left {
  width: 704px;
  height: 559px;
}

.more__right {
  width: 704px;
  height: 559px;
}

.more__center {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 67px 27px;
  background-color: #E9ECE0;
  max-width: 156.824px;
  max-height: 156.824px;
  border-radius: 50%;
  color: #333;
  font-family: "DIN";
  font-size: 16px;
  font-weight: 300;
  line-height: 137.5%; /* 22/16 */
  text-align: center;
}