.more__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.more__left {
  width: 704px;
  height: 559px;
}

.more__right {
  width: 704px;
  height: 559px;
}

.more__center {
  display: none;
  padding: 67px 27px;
  background-color: #E9ECE0;
  max-width: 156.824px;
  max-height: 156.824px;
  border-radius: 50%;
  color: #333;
  font-family: "Mulish";
  font-size: 16px;
  font-weight: 300;
  line-height: 137.5%; /* 22/16 */
  text-align: center;
}

.more__left img,
.more__right img {
  max-width: 100%;
}

@media (max-width: 991px) {
  .more__flex {
    display: -ms-grid;
    display: grid;
  }
  .more__left,
  .more__right {
    width: 100%;
    height: auto;
  }
}