.aboutInfo {
    padding-top: 150px;
}
.aboutInfo__container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}
.aboutInfoImg {
}
.aboutInfoText {
    max-width: 430px;
    display: grid;
    gap: 32px;
}
.aboutInfoText1 {
    color: var(--forest, #5B6460);
    font-family: "Open Sans";
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: 150%; /* 36/24 */
}
.aboutInfoText2 {
    color: var(--Gray-1, #333);
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 187.5%; /* 30/16 */
}

@media (max-width: 991px) {
    .aboutInfo__container {
        display: grid;
        justify-content: center;
    }
    .aboutInfoText {
        max-width: 100%;
    }
    .aboutInfoImg img {
        width: 100%;
    }
}