.aboutForm {
    padding-top: 150px;
    display: grid;
    gap: 24px;
    position: relative;
}
.aboutForm-nameFirstLast {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.aboutForm-firstName {
}
.aboutForm-lastName {
}
.aboutForm-firstName,
.aboutForm-lastName {
    width: 100%;
}
.aboutEmail {
}
.aboutSubject {
}
.aboutMessage {
    color: var(--Gray-3, #828282);
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 112.5% */
    margin-bottom: 84px;
}
.aboutForm-nameFirstLast,
.aboutEmail,
.aboutSubject,
.aboutMessage {
    max-width: 660px;
}
.aboutFirstNameInput {
}
.aboutLastNameInput {
}
.aboutEmailInput {
}
.aboutSubjectInput {
}
.aboutTextareaInput {
}
.aboutFirstNameInput,
.aboutLastNameInput,
.aboutEmailInput,
.aboutSubjectInput,
.aboutTextareaInput {
    width: 100%;
    padding: 16px 23px;
}
.aboutButt {
    position: absolute;
    bottom: -100;
    right: 0;
    max-width: 200px;
    background: var(--green, #5B6460);
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 200%; /* 28/14 */
    letter-spacing: 1px;
    padding: 16px 80px;
    transition: all 0.3s ease 0s;
    border: 1px solid #5B6460;
}
.aboutButt:hover {
    color: #5B6460;
    background: #FFF;
    border: 1px solid #5B6460;
}
.aboutInput {
}
.aboutTextarea {
}

.aboutInput,
.aboutTextarea {
    max-width: 660px;
    max-height: 124px;
    color: var(--Gray-3, #828282);
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 112.5%; /* 18/16 */
}
.aboutTextarea {
    min-width: 310px;
    min-height: 124px;
}

@media (max-width: 1100px) {
    .stayContGrid {
        display: grid;
        justify-content: center;
        gap: 30px;
    }
    .stay__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .aboutForm {
        padding-top: 30px;
    }
}

@media (max-width: 479px) {
    .aboutForm-nameFirstLast {
        flex-direction: column;
    }
}