@charset "UTF-8";
.contactUs__container {
  display: none;
  position: absolute;
  max-width: 660px;
  width: 100%;
  left: 50%;
  bottom: 20%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 10%;
}

.contactUs__container .aboutForm {
  max-width: 660px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none; /* По умолчанию блок скрыт */
}

.no-scroll {
  overflow: hidden;
}

.aboutButtHide {
  position: absolute;
  bottom: -100;
  right: 0;
  max-width: 200px;
  background: var(--green, #5B6460);
  color: #FFF;
  text-align: center;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 200%; /* 28/14 */
  letter-spacing: 1px;
  padding: 16px 80px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: 1px solid #5B6460;
}

.aboutButtHide:hover {
  color: #5B6460;
  background: #FFF;
  border: 1px solid #5B6460;
}