/* backgroundBlock start */
.backgroundBlock {
    background: url(/img/theHut/backgroundBlock.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
}
.backgroundBlockTitle {
    padding-top: 67px;
    display: flex;
    justify-content: center;
    color: #FFF;
    font-family: Open Sans;
    font-size: 70px;
    font-weight: 300;
    line-height: 102.857143%; /* 72/70 */
}
/* backgroundBlock end */

/* article start */
.articleBlocks {
    padding-bottom: 150px;
}
.articleBlocks__container {
}
// .swiper-pagination {
//     margin-left: 65px;
//     display: flex;
//     width: auto;
// }
.swiper-button-prev {
    color: #fff;
    top: 450px;
    --swiper-navigation-size: 35px;
}
.swiper-button-next {
    color: #fff;
    top: 450px;
    --swiper-navigation-size: 35px;
}
.swiper-scrollbar {
}
.paginationInfoBlockLeft {
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
    position: relative;
    gap: 30px;
}
.paginationInfoBlockLeft .mySwiper {
    margin: 0px;
}
.paginationInfoBlockRight {
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: 30px;
}
.paginationInfoBlockRight .mySwiper {
    margin: 0px;
}
.mySwiper {
    width: 100%;
    max-width: 546px;
}
.paginationInfo {
    padding-top: 67px;
}
.pInfoTitle {
    color: var(--forest, #5B6460);
    font-family: Open Sans;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px; /* 100% */
}
.pInfoNavBar {
    padding-top: 50px;
}
.infoItems {
    display: flex;
    gap: 31px;
}
.infoItem {
    cursor: pointer;
    color: var(--forest, #5B6460);
    font-family: Open Sans;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 166.666667%; /* 30/18 */
}
.infoItem:hover {
    text-decoration: underline;
}
.pText {
    padding-top: 50px;
    width: 429px;
    height: 243px;
    color: var(--Gray-1, #333);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 300;
    line-height: 187.5%; /* 30/16 */
}
/* article end */

@media (max-width: 1100px) {
    .paginationInfoBlockRight,
    .paginationInfoBlockLeft {
        padding-top: 50px;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: center;
    }
    .paginationInfo {
        width: 100%;
    }
    .pInfoTitle {
        text-align: center;
    }
    .infoItems {
        justify-content: center;
    }
    .pText {
        width: 100%;
        height: 100%;
    }
    .swiper-slide img {
        background-position: center;
    }
}