.choose {
  padding-top: 150px;
}

.chooseLeft {
  display: -ms-grid;
  display: grid;
  max-width: 661px;
}

.choose__title {
  color: #5B6460;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 400;
  line-height: 100%; /* 24/24 */
  margin-bottom: 25px;
}

.choose__line {
  width: 100%;
  height: 1px;
  background: #5B6460;
  margin-bottom: 25px;
}

.choose__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #E9ECE0;
  max-width: 660px;
  padding: 13px 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choose__item:not(:last-child) {
  margin-bottom: 25px;
}

.custom-checkbox {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.custom-checkbox input {
  display: none;
}

.checkbox-icon {
  margin-right: 20px;
  position: relative;
}

.checked-icon {
  display: none;
  visibility: hidden;
}

.custom-checkbox input:checked + .checkbox-icon .checked-icon {
  display: block;
  visibility: visible;
}

.custom-checkbox input:checked + .checkbox-icon .unchecked-icon {
  display: none;
}

.chooseItem__hidden {
  margin-left: 25px;
  display: none;
}

.chooseItem__hidden:not(:last-child) {
  margin-bottom: 50px;
}

.hidden__title {
  color: #333;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 125%; /* 20/16 */
}

.hidden__subtitle {
  color: #333;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 300;
  line-height: 142.857143%; /* 20/14 */
}

.chooseText__title {
  color: #333;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  line-height: 111.111111%; /* 20/18 */
  margin-bottom: 6px;
}

.chooseText__weight {
  color: #333;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 112.5%; /* 18/16 */
}

.choose__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
  cursor: pointer;
}

.arrowUp {
  display: none;
}