.choose {
  padding-top: 150px;
}

.choose__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* ChooseLeft */
.chooseLeft {
  display: -ms-grid;
  display: grid;
  width: 100%;
  max-width: 661px;
}

.choose__title {
  color: #5B6460;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 400;
  line-height: 100%; /* 24/24 */
}

.choose__line {
  width: 100%;
  height: 1px;
  background: #5B6460;
}

.choose__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #E9ECE0;
  max-width: 660px;
  padding: 13px 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choose__item:not(:last-child) {
  margin-bottom: 25px;
}

.custom-checkbox {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.custom-checkbox input {
  display: none;
}

.checkbox-icon {
  margin-right: 20px;
  position: relative;
}

.checked-icon {
  display: none;
  visibility: hidden;
}

.custom-checkbox input:checked + .checkbox-icon .checked-icon {
  display: block;
  visibility: visible;
}

.custom-checkbox input:checked + .checkbox-icon .unchecked-icon {
  display: none;
}

.chooseItem__hidden {
  margin-left: 25px;
  display: none;
}

.chooseItem__hidden:not(:last-child) {
  margin-bottom: 50px;
}

.hidden__title {
  color: #333;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 125%; /* 20/16 */
}

.hidden__subtitle {
  color: #333;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 300;
  line-height: 142.857143%; /* 20/14 */
}

.chooseText__title {
  color: #333;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  line-height: 111.111111%; /* 20/18 */
  margin-bottom: 6px;
}

.chooseText__weight {
  color: #333;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 112.5%; /* 18/16 */
}

.choose__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
  cursor: pointer;
}

.arrowUp {
  display: none;
}

.chooseRight {
  padding: 22px 24px 24px 24px;
  border: 0.7px solid var(--green, #5B6460);
  height: 100%;
  max-height: 620px;
}

.right__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
  -webkit-column-gap: 7px;
     -moz-column-gap: 7px;
          column-gap: 7px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title1 {
  color: #333;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 600;
}

.title2 {
  color: #333;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
}

.right__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 0.7px solid var(--green, #5B6460);
  padding: 15px 21px 17px 21px;
  margin-bottom: 25px;
}

.check__block {
  width: 100%;
  max-width: 60px;
}

.checkBlock__title {
  text-align: center;
  color: #333;
  font-family: "Mulish";
  font-size: 12px;
  font-weight: 500;
  line-height: 133.333333%; /* 16/12 */
}

.checkMinusPlus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chekMinus {
  text-align: center;
  cursor: pointer;
  width: 100%;
  max-width: 20px;
  font-size: 20px;
}

.checkNumber {
  padding: 0px 2px;
}

.checkPlus {
  text-align: center;
  cursor: pointer;
  width: 100%;
  max-width: 20px;
  font-size: 20px;
}

.checkBlock__subtitle {
  color: #333;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 128.571429%; /* 18/14 */
}

.check__input {
  max-width: 65px;
}

.check__line {
  background: #5B6460;
  width: 0.7px;
  max-height: 37.514px;
}

.book__button {
  width: 100%;
  border: 1px solid #5B6460;
  background: #5B6460;
  color: #FFF;
  font-family: "Mulish";
  font-size: 14px;
  font-weight: 300;
  line-height: 200%; /* 28/14 */
  letter-spacing: 1px;
  padding: 16px 20px;
  margin-bottom: 30px;
}

.right__price {
  margin-bottom: 25px;
}

.price__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

.flex__left {
  color: #333;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 112.5%; /* 18/16 */
}

.flex__rigth {
  color: #333;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 112.5%; /* 18/16 */
}

.green {
  color: #41906D;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 112.5%; /* 18/16 */
}

.right__total {
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.total__left {
  color: #333;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 600;
  line-height: 90%; /* 18/20 */
}

.total__right {
  color: #333;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 600;
  line-height: 90%; /* 18/20 */
  margin-bottom: 40px;
}

.right__formButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.right__form {
  border: 0.7px solid var(--green, #5B6460);
}

.form__input {
  border: none;
  padding: 16px 20px;
}

.form__button {
  color: #FFF;
  font-family: "Mulish";
  font-size: 14px;
  font-weight: 300;
  line-height: 200%; /* 28/14 */
  letter-spacing: 1px;
  padding: 11px 29px;
  background: #5B6460;
}