.form {
    padding-top: 100px;
    padding-bottom: 150px;
}
.form__container {
}
.formButon {
    color: #333;
    font-family: "Mulish";
    font-size: 16px;
    font-weight: 300;
    line-height: 225%; /* 36/16 */
}
.formBlock {
    padding-top: 55px;
    max-width: 660px;
}
.form__title {
    color: #5B6460;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 400;
    line-height: 100%; /* 24/24 */
    margin-bottom: 24px;
}
.formGridBlock {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.formGridBlock form {
    border: 0.7px solid var(--green, #5B6460);
    align-items: center;

}
.formFName {
}
.formLName {
}
.formEmail {
}
.formTel {
    display: flex;
    // column-gap: 24px;
}
.formTelCountry {
    display: flex;
    padding: 0px 24px;
    border-right: 1px solid #333;
    height: 100%;
}
.formTelLine {
    width: 1px;
    height: 100%;
    background: #5B6460;
}
.formAddres {
}
.formPassword {
}
.formCity {
}
.formCountry {
}
.inputForm {
    width: 100%;
    max-width: 318px;
    border: none;
    padding: 16px 22.5px;
}

//payWith
.formBlock2 {
    padding-top: 55px;
    max-width: 660px;
}
.titleBlock {
    display: flex;
    justify-content: space-between;
}
.form__title {
}
.titleSocial {
    display: flex;
    column-gap: 20px;
}
.formBlock2__form {
}
.block2__form {
    display: grid;
    gap: 24px;
}
.formCredit {
}
.inputCredit {
}
.inputCredit::before {
}
.formCard {
}
.inputCard {
}
.formExCCV {
    display: flex;
    justify-content: space-between;
}
.form__Ex {
}
.input__Ex {
    width: 100%;
    padding: 16px 22.5px;
    border: none;
    border-right: 1px solid #333;
}
.form__CCV {
}
.input__CCV {
    width: 100%;
    padding: 16px 22.5px;
    border: none;
}
.formZIPCountry {
    display: flex;
    justify-content: space-between;
}
.form__ZIP {
}
.input__ZIP {
    padding: 16px 22.5px;
    width: 100%;
    max-width: 318px;
}
.form__Country2 {
}
.input__Country2 {
    padding: 16px 22.5px;
    width: 100%;
    max-width: 318px;
}

.formCredit,
.formCard,
.formExCCV {
    border: 0.7px solid var(--green, #5B6460);
}

.inputCredit,
.inputCard {
    width: 100%;
    border: none;
    padding: 16px 22.5px;
}

hr {
    margin-bottom: 24px;
}
//payment block start
.addInfo {
    padding-top: 100px;
    width: 100%;
    max-width: 660px;
}
.addInfo__title {
    color: var(--green, #5B6460);
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 400;
    line-height: 100%; /* 24/24 */
}
.addInfo__form {
    padding-top: 20px;
}
.addInfo__input {
    padding: 16px 22px;
    width: 100%;
    max-width: 660px;
    max-height: 100px;
    min-width: 300px;
    min-height: 70px;
    color: var(--Gray-3, #828282);
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 112.5%; /* 18/16 */
}
.terms {
    padding-top: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 50px;
}
.custCheckBoxInfo {
}
.checkbox {
    cursor: pointer;
}
.termsText {
    color: var(--Gray-1, #333);
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 175%; /* 28/16 */

}
.termsText span {
    color: var(--green, #5B6460);
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 175%; /* 28/16 */
    text-decoration-line: underline;
}
.paymentBut {
    width: 100%;
    max-width: 384px;
    border: 1px solid var(--green, #5B6460);
    background: var(--green, #5B6460);
    color: #FFF;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 16px;
}