.form {
  padding-top: 100px;
}

.formButon {
  color: #333;
  font-family: "DIN";
  font-size: 16px;
  font-weight: 300;
  line-height: 225%; /* 36/16 */
}

.formBlock {
  padding-top: 55px;
  max-width: 660px;
}

.form__title {
  color: #5B6460;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 400;
  line-height: 100%; /* 24/24 */
  margin-bottom: 24px;
}

.formGridBlock {
  padding-top: 24px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 24px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.formGridBlock form {
  border: 0.7px solid var(--green, #5B6460);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formTel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}

.formTelCountry {
  padding-left: 24px;
}

.formTelLine {
  width: 1px;
  height: 100%;
  background: #5B6460;
}

.inputForm {
  width: 100%;
  max-width: 318px;
  border: none;
  padding: 16px 22.5px;
}