// backgroundArea start
.backgroundArea {
    background: url(/img/theArea/backgroundArea.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}
.titlesArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.titleArea {
    color: #fff;
    font-family: "Open Sans";
    font-size: 70px;
    font-weight: 300;
    line-height: 102.857143%; /* 72/70 */
    padding-bottom: 15px;
}
.pointArea {
    position: relative;
    color: #FFF;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 300;
    line-height: 133.333333%; /* 24/18 */
    text-decoration-line: underline;
    padding-bottom: 50px;
}
.pointArea::before {
    content: '';
    background: url(/img/theArea/point.svg);
    width: 11px;
    height: 15px;
    position: absolute;
    left: -20px;
    top: 3px;
}
.buttArea {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 200%; /* 28/14 */
    letter-spacing: 1px;
    padding: 14px 30px;
    border: 1px solid #FFF;
}
// backgroundArea end

//mapArea start
.mapArea {
}
.mapArea__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}
.mapTitle {
    color: var(--forest, #5B6460);
    font-family: "Open Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 56/40 */
    padding-left: 114px;
}
.mapSvg {
    padding-right: 77px;
}
//mapArea end

.ifoItemArea {
    color: var(--forest, #5B6460);
    font-family: "Open Sans";
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: 150%; /* 36/24 */
}